/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  --red: #f44336;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.navbar {
  display: none;
}

header, .block, footer {
  padding-left: 300px;
}

.block {
  min-height: 100%;
}

.sidenav a {
  color: black;
}

.sidenav a h2 {
  font-weight: 200;
}

.sidenav h1 {
  font-size: 225%;
  color: var(--red);
}

.sidenav h2 {
  font-size: 200%;
}


#home {
  background: url("../img/home-image2.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
}

#home h2 {
  margin: 0 0 0 5%;
  width: 50%;
  font-weight: bold;
  color: white;
  padding: 10% 0;
}

#home h3 {
  display: none;
  padding: 10% 0;
  text-align: center;
  font-weight: 600;
  width: 100%;
  font-size: 300%;
}


#home h2 em, #home h3 em {
  font-style: normal;
  color: var(--red);
  font-weight: bolder;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .container {
  font-size: 130%;
}

.section-title {
  color: var(--red);
  font-weight: bolder;
}

#about cite {
  color: #616161;
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#experience .cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#experience .company-logo {
  height: 64px;
}

#experience .card {
  width: 80%;
}

#experience .card ul li {
  list-style-type: circle;
}

#experience .card ul {
  margin: 2.5% 5%;
}

#experience .card .divider {
  margin-bottom: 2.5%;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills .card {
  width: 80%;
}

#skills .skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5% 0;
}

#skills .skills-container .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills .skills-container .skill img {
  margin-bottom: 10%;
  height: 10vh;
}

#certifications .certifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 5%;
  height: 80vh;
}

#certifications .certifications-container .certification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

#certifications .certifications-container .certification img {
  height: 128px;
}

#education .education-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
}

#education .education-container .education {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-left: 3px solid var(--red);
  padding: 5% 0 5% 5%;
  border-top: 1px solid var(--red);
}

#education .education-container .education img {
  width: 50%;
}

#education .education-container .education cite {
  font-size: 150%;
}

#education .education-container .education h4 {
  color: var(--red);
}

#contact .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
}

#contact .contact-container img, #contact .contact-container i {
  width: 64px;
  font-size: 64px;
  margin-right: 2.5%;
  color: var(--red);
}

#contact .contact-container span {
  font-size: 150%;
}

#contact .contact-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

@media only screen and (max-width : 992px) {

  #skills .card {
    width: 50%;
  }

  #home h3 {
    display: block;
  }

  header, .block, footer {
    padding-left: 0;
  }

  .navbar {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: var(--red);
  }

  #home {
    background: url("../img/home-image1.jpeg") no-repeat center center !important;
    background-size: cover;
  }

  #home h2 {
    display: none;
  }

  #experience, #skills, #certifications, #education, #contact {
    padding-top: 10%;
  }

  #skills .skills-container {
    flex-direction: column;
  }

  #skills .skills-container .skill {
    margin: 5% 0;
  }

  #certifications .certifications-container {
    flex-direction: column;
  }

  #certifications .certifications-container .certification {
   margin: 10% 0;
  }

}
